.categories-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 64px;
}

.categories-cards .card {
  color: var(--text-primary-color);
  background-color: var(--background-secundary-color);
  width: 312px;
  height: 220px;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 24px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
}

.categories-cards .card.single-line {
  padding-top: 50px;
}

.categories-cards .card.single-line img {
  margin: 10px 0 20px;
}

@media screen and (min-width: 768px) {
  .categories-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .categories .section-title {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .categories-cards .card {
    width: 280px;
    height: 220px;
  }

  .categories .section-title {
    width: 100%;
  }

  .categories-cards .card h3 {
    font-size: 28px;
  }
}

@media screen and (min-width: 1024px) {
  .categories-cards .card {
    width: 430px;
  }
}

@media screen and (min-width: 1440px) {
  .categories-cards .card {
    width: 280px;
  }
}
