.hero-img {
  height: 400px;
  width: 100%;
  background: url(../img/Banner-mobile-home.png) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    background: url(../img/Banner-tablet-home.png);
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    background: url(../img/Banner-desktop-home.png);
    background-size: cover;
  }
}
