.hero-img {
  height: 400px;
  width: 100%;
  background: url(../img/Banner-mobile-home.png) no-repeat;
  background-size: cover;
}
.hero h2 {
  padding: 88px 24px;
  margin: 0px;
  font-weight: var(--text-weigt);
  font-size: 20px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    background: url(../img/Banner-tablet-home.png);
    background-size: cover;
  }
  .hero h2 {
    padding: 88px 60px;
    margin: 0px;
    font-weight: var(--text-weigt);
    font-size: 32px;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    background: url(../img/Banner-desktop-home.png);
    background-size: cover;
  }
}
