.offers {
  margin-bottom: 104px;
}

.offers-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 64px;
}

.offers-cards .card {
  color: var(--text-secondary-color);
  background-color: black;
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  padding: 24px 16px;
  border-radius: 16px;
  text-align: center;
  text-decoration: none;
}

.offers-cards .card.japao {
  background: url(../img/japaops.jpg) no-repeat;
  background-size: cover;
}

.offers-cards .card.san-andreas {
  background: url(../img/sanandreasps.jpg) no-repeat;
  background-size: cover;
}

.offers-cards .card.paraiba {
  background: url(../img/manausps.jpg) no-repeat;
  background-size: cover;
}

.offers-cards .card.manaus {
  background: url(../img/paraibaps.jpg) no-repeat;
  background-size: cover;
}

.offers-cards .card header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
  margin-bottom: 24px;
}

.offers-cards .card header p {
  font-size: 20px;
  font-weight: var(--text-weigth);
}

.offers-cards .card header h3 {
  margin: 8px 0 0;
  font-size: 40px;
  font-weight: var(--titles-weigth);
}

.offers-cards .card header span {
  margin-top: 24px;
  display: block;
  font-size: 32px;
}

@media screen and (min-width: 768px) {
  .offers-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .offers-cards .card {
    width: 420px;
    min-height: 308px;
  }

  .offers-cards .card header h3 {
    font-size: 48px;
  }

  .offers-cards .card header span {
    font-size: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .offers-cards .card {
    width: 588px;
  }
}

@media screen and (min-width: 1920px) {
  .offers-cards {
    width: 1200px;
    margin: 0 auto;
  }
}
