.testimonials-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.testimonials-container article header p {
  font-size: 16px;
  line-height: 28px;
}

.testimonials-container footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}

.testimonials-container footer img {
  display: flex;
  flex-direction: row;
  height: 86px;
  width: 86px;
}

.testimonials-container footer .profile-content h4 {
  font-size: 20px;
  line-height: 32px;
  font-weight: var(--titles-weigth);
  margin: 0 0 8px;
}

.testimonials-container footer .profile-content .rating .star {
  font-size: 38px;
  color: var(--secondary-color);
  line-height: 32px;
}

@media screen and (min-width: 1440px) {
  .testimonials-container {
    flex-direction: row;
  }
}
